@mixin d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex{
    display: flex;
    align-items: center;  
}
@mixin fon1{
font-family: 'Poppins';
font-style: normal;
}
@mixin fon2{
    font-family: 'Inter';
    font-style: normal; 
}